@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;

}

header{
    border-bottom: 2px solid rgba(0,0,0,.12);
    margin-top: auto;
    margin-bottom: auto;
}

nav, nav div{
    display: flex;
    justify-content: space-between;
    align-content: center;
   
}

nav div > div{
    flex: 1 0 70px;
    justify-content:flex-start;
}

.header-organize{
    justify-content: space-between;
    gap: 60px;

}

.navbar-logo{
    height: 48px;
    width: 48px;
    margin-left: 8px;
    vertical-align: middle;
    color: white;
}

header a{
    color: white;
}

.header-vertical-line{
    border-left: 2px solid rgba(0,0,0,.12);
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.header-button{
    background: #fff;
    border: 0px;
    cursor: pointer;
    display: flex;
    flex: 1 0 70px;
    padding-top: 20px;
}

.header-span{
    color: rgba(0, 0, 0, 0.574);
}

.location-icon{
    width: 20px;
    vertical-align: middle;
}

.down-icon{
    width: 10px;
}

.search-bar img{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

.search-bar input{
    border: 0px;
    background: rgba(0, 0, 0, 0);
    margin-right: 10px;
    
}

.search-bar{
    background: rgba(0,0,0,0.12);
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 200px;
    border-radius: 5px;
}

.user-icon{
    width: 15px;
    vertical-align: middle;
}

.chat-icon{
    width: 15px;
    vertical-align: middle;
}

.header-a{
    width: 10px;
}

.new-advertising{
    background: #9f2e2e;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.new-advertising span{
    color: white;
}

.new-advertising:hover{
    background: #BE3737;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}