@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;

}

.grid{
    max-width: 1440px;
    display: grid;
    grid-template-columns: 280px 1fr;
}


header{
    border-bottom: 2px solid rgba(0,0,0,.12);
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    align-items: center;
    grid-column: 1 / -1;
}

nav, nav div{
    display: flex;
    justify-content: space-between;
    align-content: center;
   
}

nav div > div{
    flex: 1 0 70px;
    justify-content:flex-start;
}

.header-organize{
    justify-content: space-between;
    gap: 60px;

}

.navbar-logo{
    height: 48px;
    width: 48px;
    margin-left: 8px;
    vertical-align: middle;
    color: white;
}

header a{
    color: white;
}

.header-vertical-line{
    border-left: 2px solid rgba(0,0,0,.12);
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.header-button{
    background: #fff;
    border: 0px;
    cursor: pointer;
    display: flex;
    flex: 1 0 70px;
    padding-top: 20px;
}

.header-span{
    color: rgba(0, 0, 0, 0.574);
}

.location-icon{
    width: 20px;
    vertical-align: middle;
}

.down-icon{
    width: 10px;
}

.search-bar img{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

.search-bar input{
    border: 0px;
    background: rgba(0, 0, 0, 0);
    margin-right: 10px;
    
}

.search-bar{
    background: rgba(0,0,0,0.12);
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 200px;
    border-radius: 5px;
}

.user-icon{
    width: 15px;
    vertical-align: middle;
}

.chat-icon{
    width: 15px;
    vertical-align: middle;
}

.header-a{
    width: 10px;
}

.new-advertising{
    background: #9f2e2e;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.new-advertising span{
    color: white;
}

.new-advertising:hover{
    background: #BE3737;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

/* .main{
    display: flex;
    justify-content: space-between;
} */

aside h2{
    margin-top: 40px;
    margin-right: 50px;
    font-size: 12px;
    color: #777;
}

aside ul{
    margin-right: 50px;
    list-style: none;

}

.category-img{
    width: 20px;
    margin-top: 10px;

}

.category-span{
    color: #777;
}

.down-sidebar{
    margin-right: 50px;
    margin-top: 25px;
    width: 250px;

}

.down-sidebar div{
    border-top: 1px solid rgba(113, 113, 113, 0.315);
    padding-top: 15px;
    padding-bottom: 15px;
}

.down-sidebar img{
    width: 10px;
    margin-left: 10px;
}

.down-sidebar span{
    font-size: 13px;
}

footer{
    font-size: 0;
    border-top: 1px solid rgba(113, 113, 113, 0.315);
    margin-right: 50px;
}

.footer-navigation{
    color: #777;
    text-decoration: none;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: inline-block;
    height: 40%;
    box-sizing: border-box;
    font-size: 12px; /* optional: reset font-size */
    text-align: center; /* optional: center align the links */
    vertical-align: top; /* optional: align links to the top */
}

.socialmedia{
    display: flex;
    justify-content: space-evenly;
}

.socialmedia-icon{
    width: 20px;
    align-items: center;
}

.enemad{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0.875rem
}

.enemad_box{
    cursor: pointer;
    height: auto;
    margin: 10px 0;
    text-align: center;
    width: 50px;
}

.main-title{
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    display: block;
    color: rgba(0,0,0,.56);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}

.main-grid-posts{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px, 1fr));
    row-gap: 16px;
}

.main-post{
    max-width: 500px;
    height: 184px;
    padding: 8px;
}

.main-post-thumbnail img{
    max-width: 136px;
}

article{
    display: flex;
}

.main-post-detail{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-post-title{
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    font-weight: 500;
    height: 56px;
    line-height: 28px;
    margin-bottom: auto;
    margin-top: 0;
    overflow: hidden;
    overflow-wrap: break-word;
}

.main-post-price{
    color: rgba(0,0,0,.56);
    font-size: .875rem;
    line-height: 24px;
    min-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: pre;
    width: 0;
}

.main-post-time{
    align-items: center;
    display: flex;
    line-height: 24px;
    overflow-wrap: break-word;
    white-space: nowrap;
}